@import "variables";

main {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;

    .container__page {
        min-width: 100%;
        height: 100%;
        @include flex-row-center();
        flex-shrink: 0;
        &:nth-child(1) {
            background-color: $--clr-poppy;
        }
        &:nth-child(2) {
            background-color: $--clr-springgreen;
        }
        &:nth-child(3) {
            background-color: $--clr-pistachio;
        }

        h1 {
            font-size: 7rem;
            color: $--clr-lemon;
            letter-spacing: 0.2rem;
            font-weight: 900;
        }

        .photo {
            width: 50vw;
            height: 100%;
            @include flex-row-center();
            &:nth-child(1) {
                background: url("../assets/photo1.jpg") no-repeat center/cover ;
            }
            &:nth-child(2) {
                background: url("../assets/photo2.jpg") no-repeat center/cover ;
            }
        }
    }
    
}
